# Ignore arquivos de configuração do Visual Studio
.vscode/
.vs/
.idea/

# Ignore a pasta de dependências NuGet
*.nupkg
*.snupkg
.nuget/

# Arquivos de build
bin/
obj/

# Logs e arquivos temporários
*.log
*.temp
*.tmp

# Arquivos de publicação
.publish/

# Diretórios de migração do EF Core
Migrations/

# Arquivos de banco de dados local
*.mdf
*.ldf
*.ndf
*.db
*.sqlite
*.sqlite3

# Arquivos de cache
*.cache
*.backup
*.bak
*.swp

# Arquivos gerados pelo sistema
Thumbs.db
Desktop.ini
.DS_Store
ehthumbs.db

# Certificados e chaves locais
*.pfx
*.p12

# Arquivos de usuário específicos do Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates

# Arquivos de lock e backups
project.lock.json
project.fragment.lock.json
project.json
